/*menu*/

.conteiner{ /*backgroud do menu*/
    padding: 7px 7px ;
    width: 100%;
    background: rgb(2,87,231);
    background: linear-gradient(90deg, rgba(2,87,231,1) 0%, rgba(51,111,238,1) 35%, rgba(0,189,255,0.6418942577030813) 100%);
    border-bottom: 0.5px solid white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img{ 
    width: 80px;
    height: 80px;
    
}

.menu a{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 15px 15px;
}

.menu a:hover{
    color: black;
    translate: 0.5s;
}
/*menu*/