@import "/styles/mixins/padding.scss";
@import "/styles/mixins/responsive.scss";
/*menu*/

.conteiner{ /*backgroud do menu*/
    @include Padding;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 100%;
    background: rgb(4,40,164);
    background: linear-gradient(90deg, rgba(4,40,164,1) 0%, rgba(8,76,222,1) 35%, rgba(0,189,255,0.6418942577030813) 100%);
    border-bottom: 0.5px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    z-index: 100;

    @include Phone{
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
    }
}



.menu{
    a+a{
        margin-left: 38.9px;
    }
    @include Phone{
        display: none;
    }
}

.logo img{ 
    width: 80px;
    height: 80px;
    
}

.menu a{
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    margin: 15px 15px;
}

.menu a:hover{
    
    opacity: 0.7;
    transition: 0.5s;
}
/*menu*/