@import "/styles/mixins/fonts.scss";
@import "/styles/mixins/responsive.scss";

.input{
    padding: 20px 14px;
    background-color: #b9b9b95b;
    border: none;
    border-radius: 10px;
    color: #606060;
    @include SizeSmall;
    font-weight: 300;
    opacity: 0.7;

}