@import "/styles/mixins/padding.scss";


.container{
    @include Padding;
    padding-top: 180px ;
    background-position: center;
    color: black;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.image{
    padding: 10px;
    text-align: end;

}
/*Estilização texto pagina welcome*/
.text{
    h2{
        font-weight: bold;
        font-size: 71px;
    }

    p{
        font-size: 30px;
        opacity: 0.8;
    }
}

