@import "./responsive.scss";

@mixin SizeExtra{
    font-size: 60px;

    @include Phone{
        font-size: 35px;
    }

    @include Tablet{
        font-size: 45px;
    }

    @include Laptop{
        font-size: 48px;
    }
}

@mixin SizeLarge{
    font-size: 65px;

    @include Phone{
        font-size: 32px;
    }

    @include Tablet{
        font-size: 40px;
    }

    @include Laptop{
        font-size: 40px;
    }
}


@mixin SizeMedium{
    font-size: 35px;

    @include Phone{
        font-size: 15px;
    }

    @include Tablet{
        font-size: 23px;
    }

    @include Laptop{
        font-size: 30px;
    }
}

@mixin SizeNormal{
    font-size: 30px;

    @include Phone{
        font-size: 15px;
    }

    
    @include Tablet{
        font-size: 15px;
    }

    @include Laptop{
        font-size: 23px;
    }
}

@mixin SizeSmall{
    font-size: 22px;

    @include Phone{
        font-size: 15px;
    }

    @include Tablet{
        font-size: 15px;
    }

    @include Laptop{
        font-size: 18px;
    }
}
