@import "/styles/mixins/padding.scss";
@import "/styles/mixins/fonts.scss";
@import "/styles/mixins/responsive.scss";

.container{
    @include Padding;
    padding-top: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px 3rem;
    margin-bottom: 10rem;

    @include Phone{
        grid-template-columns: 1fr;
    }

    @include Tablet{
        padding: 6rem;
    }

    @include Laptop{
        padding: 4rem;
    }
}

.text{
    span{
        @include SizeNormal;
        font-weight: bold;
        color: blue;
    }

    h1{
        @include SizeLarge;
        font-weight: bold;
    }

    p{
        @include SizeNormal;
        font-weight: 200;
        opacity: 0.7;
    }

}

.form{
    padding: 38px 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black ;
    display: grid;
    


    h1{
        @include SizeNormal;
        font-weight: bold;
        
    }
    form{
        display: grid;
        gap: 23px;
    }

    @include Phone{
        padding: 1rem;
        gap: 1rem;
    }

}
.button{
    margin-top: 20px;
    padding: 21px;
    width: 100%;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: none;
    @include SizeSmall;
    font-weight: bold;
    
}

.button:hover{
    opacity: 0.7;
    transition: 0.2s;
    
}

.footer{
    grid-column-start: 2;
    text-align: center;
    @include SizeSmall;
    padding: 0 5rem;
    line-height: 2rem;
    color: grey;
    
    span{
        color: rgb(12, 12, 12);
        cursor: pointer;
    }

    @include Phone{
        grid-column-start: 1;
        padding: 0 1rem;
        line-height: 2rem;
    }
}