@import "/styles/mixins/padding.scss";
@import "/styles/mixins/fonts.scss";
@import "/styles/mixins/responsive.scss";

.container{
    @include Padding;
    padding-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgb(4,40,164);
    background: linear-gradient(90deg, rgba(4,40,164,1) 0%, rgba(8,76,222,1) 35%, rgba(0,189,255,0.6418942577030813) 100%);
    color: white;
    border-top:  5px solid blue;

    @include Phone{
        grid-template-columns: 1fr;
        padding-top: 1rem;
    }
}

.column {

    margin: 10px;
    .logo{
        width: 80px;
        height: 80px;
    }
   

    h1{
        @include SizeMedium;
        color: aquamarine;
    }

    p{
        @include SizeMedium;
    }
    

    /*Icones rede social*/
    .icons{
        display: flex;
        gap: 10px;
    }

    .icon:hover{
        color: blue;
        opacity: 0.7;
        transition: 0.2s;
    }

    @include Phone{
        margin-top: 0px;
    }
    
}
.title{
    @include SizeLarge;
    color: white;
}
.allRightReserved{
    padding: 3rem 0 1rem;
    @include SizeSmall;
    opacity: 0.7;
    grid-column: span 4;
    align-items: center;
    text-align: center;

    @include Phone{
        grid-column: 1;
    }
}